@import "../../../../../styles/variables";

.allCardDeptors {
  //   background-color: black;
  max-width: 30rem;

  width: 95%;
  margin: 15px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  background-color: $backg-black3;
  //   border:;
  border-radius: 5px;
  font-family: $main-text;
  .cardHead {
    z-index: 0.2;
    display: flex;
    position: relative;
    background-color: transparent;
    height: 2.5rem;
    width: 100%;
    cursor: pointer;
    .numberLengthBox {
      display: flex;
      border-radius: 5px 0 50px 5px;
      background-color: $backg-white3;
      width: 2.5rem;
      .paraLength {
        // background-color: black;
        color: $text-black1;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: 600;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
    .titleBox {
      margin: auto 0;
      display: flex;

      h3 {
        margin: 0 0 0 10px;
        color: $title;
        font-size: 1.2rem;
      }
    }
    .btnViewBox {
      position: absolute;
      // background-color: green;
      right: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .btnView {
        color: $text2;
        margin: 0 1rem;
        border-radius: 50%;
        background: none;
        // border: 1px solid rgb(116, 116, 116);
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .renderContainer {
    transform: translateY(0rem);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 1rem;
    .eachUser {
      //   background-color: $hunt3;
      animation: animate 0.5s;
      display: flex;
      min-width: 50%;
      align-items: center;
      opacity: 1;
      transition: 0.1s;
      text-decoration: none;
      color: $text3;
      p {
        margin: 0 0;
      }
      i {
        color: $text1;
        font-size: 0.9rem;
      }
    }
    .eachUser:hover {
      opacity: 0.9;
    }
  }
  .noView {
    display: none;
    // transform: translateY(-1rem);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
