@import "../../../styles/variables";

.allRenderList {
  background: $backg-white2;
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 100vh;
  align-items: center;
  padding-bottom: 2rem;
  .inputSearchContainer {
    .spanSearch {
      height: 3rem;
      margin: 2rem 0;
      border-radius: 15px;
      width: 18rem;
      background-color: rgba(0, 0, 0, 1);
      box-shadow: 1px 1px 5px grey;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      input {
        background: none;
        border: none;
        height: 100%;
        width: inherit;
        position: absolute;
        padding: 0 1rem;
        transition: 0.2s;
      }
      input:focus {
        outline: none;
      }
      svg {
        margin: 0 1rem;
      }
    }
  }

  .linksContainer {
    box-shadow: 1px 1px 8px black;
    background-color: $backg-black1;

    padding: 0 1rem;
    border-radius: 5px;
    width: 90%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    .linkBox {
      // background-color: green;
      margin: 1rem 0;
      border-bottom: solid 1px grey;
      padding: 0.4rem;
      font-size: 1.2rem;
      font-family: $main-text;
      display: flex;
      align-items: center;
      svg {
        color: $main-color;
        margin: 0 0.4rem;
      }
      a {
        //   box-shadow: 0px 0px 5px black;
        transition: 0.1s;
        color: rgb(172, 172, 172);
        font-weight: 600;
      }
      a:hover {
        transform: scale(1.01);
        // font-size: 1.6rem;
        color: white;
        text-shadow: 0px 0px 5px grey;
      }
    }
  }
}
