@import "../../../styles/variables";

.allRenderList {
  background: $backg-black2;
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  padding-bottom: 2rem;
  
  .linksContainer {
    // box-shadow: 1px 1px 8px black;
    // background-color: $backg-black1;

    padding: 0 1rem;
    border-radius: 5px;
    width: 95%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    .linkBox {
      animation: animate 0.5s;
      // background-color: green;
      margin: 0.1rem 0;
      width: 100%;
      // border-bottom: solid 1px grey;
      padding: 0.3rem 0.4rem;
      font-family: $main-text;
      display: flex;
      align-items: center;
      // justify-content: space-between;
      transition: 0.1s;
      a {
        text-decoration: none;
        font-size: 1rem;
        border-bottom: 1px solid grey;
        // box-shadow: 0px 0px 5px black;
        color: rgb(172, 172, 172);
        font-weight: 400;
        text-decoration: none;
        width: inherit;
        .linkNameUser {
          svg {
            color: $main-color;
            margin: 0 0.4rem;
          }
          i {
            text-shadow: 1px 1px 2px black;
          }
        }
      }

      .iconBox {
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          // padding: 0;
          font-size: 1.5rem;
          background: none;
          border: none;
          display: grid;
          margin: auto;
          // color: white;
          opacity: 0.7;
        }
        button:hover {
          opacity: 1;
        }
      }
    }
    .linkBox:hover {
      background-color: rgba(0, 0, 0, 0.2);
      // transform: scale(1.01);
      a {
        // font-size: 1.6rem;
        color: white;
        text-shadow: 0px 0px 5px grey;
      }
    }
  }

  .inactiveUser {
    filter: grayscale(1);
    opacity: 0.3;
  }
}


@keyframes animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
