@import "../../../styles/variables";

.allRenderList {
  //   background-color: red;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  min-height: 100vh;
  align-items: center;
  .linksContainer {
    // background-color: grey;
    // box-shadow: 0px 0px 2px grey;
    padding: 0 1rem;
    border-radius: 2px;
    width: 90%;
    max-width: 40rem;
    // height: 80%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    a {
      margin: 1rem 0;
      //   box-shadow: 0px 0px 5px black;
      border-bottom: solid 1px grey;
      border-top: solid 1px grey;
      padding: 0.4rem;
      font-size: 1.5rem;
      color: rgb(172, 172, 172);
      font-family: $main-text;
      font-weight: 600;
      transition: 0.1s;
    }
    a:hover {
      transform: scale(1.01);
      // font-size: 1.6rem;
      color: white;
      text-shadow: 0px 0px 5px grey;
    }
  }
}
