@import "../../../../styles/_variables.scss";

.allAddUserForm {
  // background-color: white;
  // background-color: aqua;
  // color: black;
  // min-height: 95vh;
  background-color: $hunt2;

  // background: rgba(0, 0, 0, 0.5);
  width: 100%;
  //   height: 450px;
  //   position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    max-width: 40rem;
    width: 90%;
    position: relative;
    padding: 0.5rem;
    // border-bottom: groove 2px rgb(109, 0, 0);
    padding-bottom: 2rem;
    // box-shadow: 0px 0px 5px grey;
    // background-color: violet;
    animation: $animate 0.3s ease-in-out;
    .inputLabelBox {
      //   background-color: blue;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      font-family: $main-text;
      label {
        // margin: 0.2rem 0;
        font-weight: 400;
        font-size: 0.9rem;
        color: $text-label-form;
      }

      select,
      input,
      textarea {
        background-color: rgba(231, 231, 231, 0.1);
        transition: 0.2s;

        border: none;
        border-radius: 5px;
        font-weight: 400;
        // text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        font-size: 0.9rem;
        padding-left: 0.5rem;
      }

      select {
        height: 2.5rem;
        // background-color: transparent;
        option {
          background-color: $hunt1;
        }
      }
      input {
        height: 2.5rem;

        // background-color: transparent;
      }
      textarea {
        max-width: 100%;
        min-width: 100%;
        min-height: 4rem;
        max-height: 10rem;
        padding: 0.5rem;

        // background-color: transparent;
      }

      select:hover,
      textarea:hover,
      input:hover {
        background-color: rgba(231, 231, 231, 0.15);
      }

      select:focus,
      input:focus,
      textarea:focus {
        background-color: rgba(231, 231, 231, 0.05);
        outline: none;
        padding-left: 1em;
      }

      .nameValInput {
        outline: 1px rgb(255, 0, 0) solid;
      }
      .nameValItalic {
        color: rgb(255, 2, 2);
        margin-top: 2px;
        font-size: 0.9rem;
        @media (max-width: 650px) {
          font-size: 0.7rem;
        }
      }
    }

    .btnContainer {
      // background-color: red;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      button {
        font-family: $main-text;
        padding: 0.2rem 1rem;
        margin: 0 0.5rem;
        border: none;
        border-radius: 5px;
        transition: 0.2s;
        color: $text2;
        text-shadow: 1px 1px 3px rgba(29, 29, 29, 0.4);
        filter: opacity(0.8);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
        font-size: 0.9rem;
      }
      .btnAccept {
        background-color: $hunt4;
        color: white;
      }
      .btnCancel {
        background-color: transparent;
        // border: 1px solid $hunt4;
        color: $hunt4;
      }

      button:hover {
        filter: opacity(1);
        // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
