@import "../../../../styles/variables";
.allRender {
  select {
    width: 10rem;
    height: 2rem;
    background-color: $backg-black3;
    color: $text2;
    font-family: $main-text;
    // border: none;
    border-radius: 5px;
    padding: 0 0.5rem;
  }
}
