@import "../../../../styles/variables";

.allButtonAdd {
  background-color: $hunt2;
  // position: absolute;
  width: 100%;
  padding: 0.6rem;
  display: flex;
  justify-content: flex-end;

  .btn {
    position: relative;
    right: 0.5rem;
    cursor: pointer;
    border: none;
    background: none;
    color: $text1;
    padding: 0.3rem;
    font-size: 1rem;
    transition: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    // filter: drop-shadow($main-textShadow);
    p {
      margin: 0;
    }
    .paraOn {
      display: none;
    }
    span {
      margin-left: 0.5rem;
      transition: 0.2s;
      transform: rotate(0deg);
    }
    .spanOn {
      transform: rotate(135deg);
    }
  }
  @media (min-width: 900px) {
    .btn {
      right: 10rem;
    }
  }
  .btn:hover {
    opacity: 1;
  }
}
