@import "../../../../styles/variables";

.allButtonAdd {
  background-color: $hunt2;
  // position: absolute;
  width: 100%;
  padding: 0.6rem;
  display: flex;
  justify-content: flex-end;
  button {
    position: relative;
    right: 1rem;
    cursor: pointer;
    border: none;
    background: none;
    color: $main-color;
    padding: 0.3rem;
    font-size: 2rem;
    transition: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    // filter: drop-shadow($main-textShadow);
  }
  button:hover {
    opacity: 1;
  }
  button:hover::before {
    content: "Agregar nuevo usuario";
    font-size: 0.7rem;
    color: rgb(148, 148, 148);
    font-family: $main-text;
    // box-shadow: 1px 1px 1px grey;
    margin-right:  0.5rem;
    // background: black;
    padding: 2px 0.8rem;
    border-radius: 15px;
  }
}
