@import "../../../../../../styles/variables.scss";

.cancelPay {
  position: absolute;
  font-family: $main-text;
  right: 0;
  bottom: 0.1rem;
  background-color: transparent;
  border: none;
  color: $text1;
  font-size: 0.7rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
  svg {
    color: $text4 !important;
    margin: 0 2px !important;
  }
  &:hover {
    opacity: 0.8;
  }
}
