@import "../../../styles/variables";

.allUserComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: rgba(0, 0, 0, 0.8);
  min-width: 100vw;
  .nameUserBox {
    background-color: $hunt2;
    // margin: 2rem 0;
    padding: 1rem 0rem 0.2rem 0rem;
    width: 100%;

    // box-shadow: 1px 1px 10px black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $main-text;
    padding-left: 10%;
    h2 {
      font-size: 1.8rem;
      color: white;
      font-weight: 300;
      // border-bottom: solid grey 2px;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      margin: 0rem 0;
    }
    a {
      text-decoration: inherit;
      // color: red;
      transition: 0.1s;
      h3 {
        // font-variant: small-caps;
        font-weight: 500;
        font-size: 1.2rem;
        margin: 0rem 0;
        // color: $main-color;
        text-shadow: 0px 0px 6px black;
      }
    }
    a:hover{
      transform: scale(1.03);
    }
  }

  .descriptionContainer {
    background-color: $hunt2;
    // color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
  }

  /////////////////////// MESES ///////////////////////////
  .monthsContainer {
    background-color: $backg-black2;
    backdrop-filter: blur(4px);
    //   display: grid;
    //   grid-template-columns: repeat(3, auto);
    //   grid-template-rows: repeat(4, auto);
    //   grid-gap: 1rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 100vw;

    .monthBox {
      background: rgba(0, 0, 0, 0.4);
      // box-shadow: 0px 0px 50px black inset, 0px 0px 70px black inset;
      border-radius: 5px;
      outline: 2px solid rgb(10, 10, 10);
      transition: 0.2s;

      width: 40rem;
      margin: 0.2rem 0;
      min-height: 3rem;
      max-width: 90vw;
      // border-bottom: solid 1px grey;
      padding: 0.4rem;

      position: relative;
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      //////////////////// Primera caja
      .monthNameBox {
        // width: 60%;
        // border-radius: 5px 5px 0 0;
        // display: flex;
        // justify-content: center;
        align-items: center;
        // background-color: rgba(255, 255, 255, 0);
        // color: black;
        // position: absolute;
        // z-index: 500;
        transition: 0.4s;
        // color: rgba(255, 255, 255, 0.7);
        margin: 0;
        p {
          margin: 0 0;
          font-size: 1rem;
          text-shadow: 1px 1px 5px black;
          font-weight: 600;
          color: white;
        }
      }

      //////////////////// Segunda caja
      .conditionIsPayContainer {
        .checkedBox {
          display: flex;
          align-items: center;
          svg {
            margin: 0 0.3rem;
          }
          p {
            margin: 0 0.3rem;
            font-family: $main-text;
            font-weight: 600;
            color: rgb(139, 139, 139);
          }
        }
        .isFalse {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          // background-color: red;

          .btnPay {
            margin: auto auto;
            width: 80%;
            height: 100%;
            border: none;
            background-color: transparent;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            svg {
              font-size: 1.2rem;
              margin: 0 0.5rem;
              transform: rotate(0deg);
              transition: 0.2s;
            }
            p {
              font-family: $main-text;
              text-align: center;
              margin: 0;
              font-weight: 400;
              color: white;
              text-shadow: 1px 1px 5px black;
            }
          }
        }
      }
      //////////////////// Ultima caja
      .carrouselBox {
        height: 100%;
        width: 100%;
        h3,
        p {
          height: 1rem;
          margin: 0 0;
          font-size: 0.8rem;
        }
        
        h3 {
          color: rgb(184, 179, 179);
          font-weight: 600;
        }
        p {
          color: rgb(126, 126, 126);
        }
      }
    }
    .monthBox:hover {
      background-color: rgb(53, 53, 53);
      .conditionIsPayContainer {
        .isFalse {
          svg {
            transform: rotate(40deg);
          }
        }
      }
    }

    .isPay {
      // background-color: $green-succes;
      outline: 2px groove $green-succes;
      background: rgb(0, 0, 0);
      background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(3, 23, 0, 1) 100%
      );
    }

    /*  .monthBox:hover {
      .monthNameBox {
        width: 100%;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 0.6);
        h4 {
          text-shadow: 0px 0px 2px rgb(170, 170, 170);
          color: white;
        }
      }
      .conditionIsPayContainer {
        filter: opacity(1);
      }
    }

    .isInactive {
      filter: grayscale(0.8);
      opacity: 0.8;
    } */
  }
}
