@import "../../../styles/variables";

.tituleActivityDiv {
  font-family: $main-text;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $hunt2;
  h2 {
    color: $title;
    font-weight: 300;
    margin-top: 1rem;
    text-shadow: 2px 2px 15px rgba(180, 180, 180, 0.5);
  }
}
