@import "../../../styles/variables";

.allLoginForm {
  background-color: $hunt2;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    background-color: $hunt1;
    padding: 2rem 3rem;
    border-radius: 5px;
    .inputContainer {
      // background-color: red;
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      label {
        color: rgb(218, 218, 218);
        font-family: $main-text;
        font-size: 0.8rem;
      }
      input {
        background: transparent;
        border: none;
        border-bottom: solid 1px grey;
        padding: 0.3rem;
        color: grey;
        transition: 0.2s;
      }
      input:focus {
        outline: none;
        border-bottom: solid 1px rgb(187, 187, 187);
      }
    }

    .btnLogin {
      // background-color: red;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      button {
        border: none;
        background-color: transparent;
        border: 2px solid $hunt3;
        border-radius: 5px;
        padding: 0.2rem 0.5rem;
        color: $text1;
        transition: 0.1s;
        font-weight: 600;
      }
      button:hover {
        background-color: $hunt3;
        color: $hunt1;
        box-shadow: 1px 1px 4px black;
      }
    }
  }
}
