.allLoginForm {
  background-color: black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    background-color: blue;
    padding: 2rem;
    label {
      color: black;
    }
    .inputContainer {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
    }
  }
}
