@import "../../../../styles/variables";

.allDescription {
  // background-color: $backg-white2;
  width: 80vw;
  // max-width: 30rem;
  font-family: $main-text;
  margin: 1rem 0;
  min-height: 5rem;

  h5 {
    margin: 2px 5px;
    font-size: 0.9rem;
    text-shadow: 0px 0px 1px grey;
  }

  .detailContainer {
    // background-color: green;
    position: relative;
    display: flex;
    min-height: 3rem;
    padding: 0.3rem;
    padding-right:3rem ;
    font-family: $main-text;

    // Parrafo con descripcion
    p {
      color: $text2;
      font-size: 0.8rem;
    }
    .btnChangeDescription {
      position: absolute;
      right: 0;
      border: none;
      background: none;
      font-size: 1.3rem;
      // color: $text3;
    }

    // Input con logica de cambio
    .btnAcpCanBox {
      display: flex;
      align-items: center;
      button {
        font-family: $main-text;
        font-weight: 700;
        font-size: 0.7rem;
        border: none;
        border-radius: 5px;
        padding: 0.4rem 0.6rem;
        margin-right: 0.2rem;
        box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.2) inset;
      }
      .btnAcp {
        background-color: rgb(0, 59, 99);
        color: rgb(255, 255, 255);
      }
      .btnCan {
        background-color: rgb(199, 195, 195);
      }
    }
    input {
      font-size: 0.8rem;
      background: none;
      border: none;
      width: 100%;
      color: $text2;
      transition: 0.1s;
      border-radius: 5px;
      //   background-color: $backg-white2;
      //   padding: 0.3rem;
      margin-right: 0.5rem;
    }
    input:focus {
      outline: none;
      box-shadow: 0px 0px 4px white;
      padding-left: 0.5rem;
      // background-color: red;
      //   box-shadow: 0px 0px 3px black;
      border-radius: 5px;
    }
  }
}
