@import "../../../styles/variables";

.allPricesRender {
  width: 40rem;
  max-width: 95vw;
  font-family: $main-text;
  margin: 3rem 0;
  th {
    color: grey;
  }
  .modalityText {
    color: white;
  }

  .priceText {
    color: rgb(172, 172, 172);
  }
}
