@import "../../../styles/variables";

.allPricesRender {
  width: 40rem;
  max-width: 95vw;
  font-family: $main-text;
  margin: 3rem 0;
  .pricesContainer {
    // background-color: green;
    .priceBox {
      animation: $animate ease-in-out 0.3s;
      position: relative;
      background-color: $hunt2;
      border-radius: 5px;
      margin: 0.5rem 0;
      // border-bottom: 2px solid grey;
      display: flex;
      align-items: center;
      height: 3rem;
      opacity: 0.9;
      transition: 0.2s;
      padding: 0 1rem;
      p {
        margin: 0;
      }

      .nameText {
        min-width: 7.5rem;

        padding-right: 10px;
        font-weight: 400;
        color: $text2;
        @media (min-width: 485px) {
          min-width: 14rem;
        }
      }
      .modalityText {
        font-style: italic;
      }
    }
    .priceBox:hover {
      opacity: 1;
    }
  }
}
