@import "../../../styles/variables";

.allNavbar {
  background-color: $hunt1;
  height: 4rem;
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  z-index: 500;
  .navWithBtn {
    margin-top: 4rem;
    position: absolute;
    width: 100%;
    display: flex;
    transition: 0.2s;
    min-height: 5rem;
    height: 100vh;

    .responsiveBox {
      min-width: 70vw;
      height: inherit;

      // background-color: red;
      background-color: $hunt2;
      .header {
        color: rgb(12, 12, 12);
        width: 100%;
        padding-top: 3rem;
        .imgBox {
          // height: 5rem;
          width: 2rem;
          padding-left: 1rem;
          img {
            height: 2rem;
            border-radius: 50%;

            box-shadow: 0px 0px 2px black;
          }
        }
        .textBox {
          padding: 0 1rem;
          font-family: $main-text;
          // background-color: red;
          margin-top: 0.5rem;
          p {
            font-weight: 400;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
            font-size: 0.8rem;
            margin: 0;
          }
        }
        .signOutBtnContainer {
          // background-color: green;
          padding: 0 1rem;
          button {
            font-size: 0.8rem;
            color: red;
            border: none;
            background: none;
            opacity: 0.8;
            transition: 0.1s;
          }
          button:hover {
            opacity: 1;
          }
        }
      }
      .navigation {
        // background-color: grey;
        background-color: $hunt1;
        height: inherit;
        font-family: $main-text;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        a {
          color: $text2;
          opacity: 0.6;
          padding: 0.2rem 0 0 1.5rem;
          margin-top: 0.3rem;
          text-decoration: none;
          position: relative;
        }
        a:hover {
          // color: $text2;
          opacity: 1;
        }
        a::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          border-radius: 4px;
          background-color: white;
          bottom: 0;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
        }
        a:hover::before {
          transform-origin: left;
          transform: scaleX(1);
        }
        .isHere {
          background-color: rgba(255, 255, 255, 0.4);
          color: black;
          font-weight: 600;
          // border-bottom: solid 2px white;
          opacity: 1;
          transition: 0.3s;
        }
        .isHere:hover {
          color: black;
          background-color: rgba(255, 255, 255, 0.6);
        }
      }
    }
    .btnTouchClose {
      background-color: transparent;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      width: inherit;
      height: 100%;
      transition: 0s;
    }
    .btnColorTrans {
      transition: 1s;

      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .modalInactive {
    transform: translateX(-100vw);
  }
  .hamburguerBox {
    // background-color: red;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
  }
}

@media (min-width: 700px) {
  .allNavbar {
    // background-color: red;
    // position: relative;

    .navWithBtn {
      display: flex;
      .responsiveBox {
        // position: relative;
        min-width: 18rem;
        width: auto;

        .header {
          .textBox {
          }
        }
      }

      .btnTouchClose {
        // width: inherit;
      }
    }
    .modalInactive {
      transform: translateX(-100vw);
    }
  }
}
