@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap");

// Backgrounds
$backg-black1: black;
$backg-black2: rgba(0, 0, 0, 0.9);
$backg-black3: rgba(206, 206, 206, 0.637);
$backg-white1: rgb(211, 211, 211);
$backg-white2: rgba(255, 255, 255, 0.5);

// Color Text
$text1: black;
$text2: rgb(44, 44, 44);
$text3: rgb(148, 20, 20);

// MAIN
$main-color: rgb(0, 217, 255);
$main-textShadow: 1px 1px 3px $main-color;
$main-text: "Raleway", sans-serif;
// $main-text: 'Oswald', sans-serif;

$green-succes: rgb(66, 207, 0);
