@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
// Backgrounds
$backg-black1: #171717;
$backg-black2: rgba(31, 31, 31, 0.95);
$backg-black3: rgba(0, 0, 0, 0.9);
$backg-white1: rgb(12, 12, 12);
$backg-white2: rgba(255, 255, 255, 0.5);
$backg-white3: rgb(255, 255, 255);

////// Color Text //////
$text1: rgb(207, 207, 207);
$text2: rgb(209, 209, 209);
$text3: rgb(145, 145, 145);
$text4: rgb(104, 104, 104);
$text-black1: rgb(0, 0, 0);

// Nav
$nav-background: rgba(0, 0, 0, 1);
$nav-email: rgb(216, 216, 216);
$nav-a: rgb(221, 221, 221);
$nav-a-activity: rgb(179, 179, 179);
$nav-a-hover: rgb(255, 255, 255);

// Render List
$name-title: white;

$title: white;
//Form
$text-label-form: rgb(223, 223, 223);
/////////////////////////

// MAIN
$main-color: rgb(255, 0, 0);
$main-textShadow: 1px 1px 3px $main-color;
$main-text: "Montserrat", sans-serif;
// $main-text: 'Oswald', sans-serif;

$green-succes: rgb(66, 207, 0);
$red-delete: #cf0000;

// Pallete
$hunt1: #191919;
$hunt2: rgb(20, 20, 20);
$hunt3: #8b8b8b;
$hunt4: #0061a1;

$test: #f3e300;

$animate: effect;

@keyframes effect {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
